.logo {
    width: 30px;
}

.hidden {
    display: none !important;
}

.valid-comand {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: green;
    font-size: 25px;
}

.police {
    font-family: 'Inter', sans-serif;
}

.purple {
    color: #6415ff !important;
}

.bg-purple {
    background-color: #6415ff !important;
}

.toto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-color {
    color: #243e63;
}

.head-space {
    margin-top: 8rem!important;
}

.play-img {
    width: 39px;
}

.round-img {
    border-radius: 5%;
    width: 100%;
    z-index: 1;
}

.subtitle {
    width: 56%;
    text-align: center;
    transform: skewX(-14deg);
    color: white;
}

.dot {
    display: flex;
    align-self: flex-end;
}

.dot-pattern {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 55.4%;
    left: 80.5%;
    z-index: -1;
    filter: invert(75%) sepia(26%) saturate(382%) hue-rotate(216deg) brightness(102%) contrast(94%);
}

.dot-pattern2 {
    width: 100px;
    height: 100px;
    z-index: -1;
    filter: invert(75%) sepia(26%) saturate(382%) hue-rotate(216deg) brightness(102%) contrast(94%);
    position: absolute;
    bottom: -264px;
    left: 565px;
}


.nav-item > a:hover {

    text-decoration-line: underline;
    color: #6415ff !important;
}

.meet > a {
    text-decoration: none !important;
}

.meet > a:hover > img{
    text-decoration: none !important;
    filter: invert(16%) sepia(94%) saturate(5164%) hue-rotate(260deg) brightness(94%) contrast(117%);
}

.meet > a:hover > span{
    text-decoration: none !important;
    color: #6415ff !important;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.register {
    background-color: #6415ff;
}

.round-img2 {
    border-radius: 5%;
    width: 100%;
    z-index: 1;
}

.dot-pat {
    width: 12%;
    height: 12%;
    position: absolute;
    bottom: -239px;
    left: 472px;
    z-index: -1;
}

.left-col {
    margin-left: 30px;
}

@media screen and (max-width: 991px) {
    .menu {
        flex-direction: column;
        margin-left: 3rem;
        text-align: center;
    }

    .text-adjust {
        width: 168px;
    }

    .dot-pattern {
        top: 114%;
    }

    .head-space {
        display: block !important;
    }

    .round-img {
        max-width: 100%;
    }
    .mobile-flex {
        justify-content: center;
        margin-bottom: 30px;
    }
    .center {
        justify-content: center;
        margin-bottom: 30px;
    }
    .btn {
        margin-right: 30px;
    }

    .flex-reverse {
        flex-direction: column-reverse;
    }

    .round-img2 {
        width: 60%;
    }
    .rcol-margin {
        margin-left: 3rem;
    }
    
    .left-col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 970px) {
    .dot-pattern2 {
        bottom: -750px;
        left: 374px;
    }
}

@media screen and (max-width: 767px) {
    .dot-pattern {
        top: 102%;
        left: 75%;
    }
    .dot-pattern2 {
        top: 152.6%;
        left: 43%;
    }
}


@media screen and (max-width: 400px) {
    .dot-pattern {
        left: 76%;
        top: 98%;
    }
    .dot-pattern2 {
        left: 76%;
        top: 98%;
    }
}

@media screen and (max-width: 400px) {
    .dot-pattern {
        display: none;
    }
    .dot-pattern2 {
        display: none;
    }
}

